/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#mainTitle {
    text-align: center;
    margin-top: 50px;
}

#navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: #ff9e95;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navText {
    float: left;
    font-size: 17px;
    font-family: sans-serif;
}

.navLink {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: none;
    background-color: #262626;
}