<ul id="navbar">
    <li class="navText" *ngFor="let page of pages;" [class.right]="page.path === '/login'">
      <a class="navLink" [class.active]="page.path === this.router.url" [routerLink]="page.path">{{ page.name }}</a>
    </li>
    <div id="searchContainer">
        <form action="#">
          <button type="submit" id="searchIcon"><i class="fa fa-search"></i></button>
          <input type="text" placeholder="Search.." name="search" id="searchbar">
          
        </form>
      </div>
</ul>